<ion-view title="" class="back-image" >
	<ion-nav-bar class="bar-dark">
      <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c" style="display:none"></i><img src="images/action_bar_iconsclose.png" class="addfunds_backbtnimage" />How to Play
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
    	<div style="font-size:30px; background-color:#ddd; padding-top:20px; height:60px; padding-left:10px; color:#444;">
    		HOW IT WORKS
    	</div>
    	<div>
    		<div style="margin-left:20px; margin-top:20px; border:1px solid #000; border-radius:20px; width:40px; height:40px; text-align:center; font-size:40px; padding-top:10px;">1</div>
    		<div >CHOOSE A CONTEST</div>
    	</div>
    </ion-content>
 </ion-view>