<ion-view title="" class="back-image" style = "background-image: url('images/mobile-baseball.jpg')">
	<ion-nav-bar class="bar-dark">
      <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i>Login
      </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content ng-controller="LoginCtrl">
    	<div style="margin-top:70px;">
	    	<div class="list item item-input {{isSelected(0)}}" style="background:none !important;">
				<input class="logintext" type="text" ng-click="selectItem(0)" placeholder="Email">
			</div>
			<div class="list item item-input {{isSelected(3)}}" style="background:none !important;">
			    <input class="logintext" type="password" ng-click="selectItem(3)" placeholder="Password" />
			    <button type="button" class="button button-clear" id="passwordvisible" ng-click="visible1()">
			    	{{visiblestate}}
			    </button>
			</div>
			<div class="list item item-input item-toggle itemtogglecustom" style="height:50px; background:none !important; color:#fff;">
			    Keep me logged in?
			    <label class="toggle toggle-energized" >
			        <input type="checkbox">
			        <div class="track">
			        	<div class="handle"></div>
			        </div>
			    </label>
			</div>
			<div class="list">
				<button class="button button-block button-energized" ng-click="menu()">
					LOG IN
				</button>
			</div>
			<div class="forgotten">
				<button class="button button-clear" style="color:#fff;">
					Forgotten your password?
				</button>
			</div>
		</div>
    </ion-content>
</ion-view>