<ion-popover-view>
  <ion-content>
    <div class="list">
      <div class="item">
        <div style="float:left;">Name</div>
        <img src="../images/sort_ascending_green.png" style="vertical-align: middle;float:right;"/>
      </div>
      <div class="item">
        <div style="float:left;">Entries</div>
        <img src="../images/sort_ascending_green.png" style="vertical-align: middle;float:right;"/>
      </div>
      <div class="item">
        <div style="float:left;">Size</div>
        <img src="../images/sort_ascending_green.png" style="vertical-align: middle;float:right;"/>
      </div>
      <div class="item">
        <div style="float:left;">Entry Fee</div>
        <img src="../images/sort_ascending_green.png" style="vertical-align: middle;float:right;"/>
      </div>
      <div class="item">
        <div style="float:left;">Prizes</div>
        <img src="../images/sort_ascending_green.png" style="vertical-align: middle;float:right;"/>
      </div>
    </div>
  </ion-content>
</ion-popover-view>